* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    background-color: #ffc017;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    border-bottom: 1px solid black;
}



nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
}

ul li,
button {
    margin-left: 30px;
}

ul button {
    background-color: #191919;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
}


.Mcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: #ffc017;
    border-bottom: 1px solid black;
}

.Mcontainer div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
}

div button {
    background-color: #191919;
    color: white;
    padding: 10px 40px;
    border-radius: 20px;
    margin-bottom: 75px;
}

div h1 {
    font-family: 'Spectral', sans-serif;
    font-size: 5rem;
    flex-grow: 1;
}

.heroSection p {
    flex-grow: 1;
    font-size: 1.8rem;
    margin-bottom: 30px;
}
/*main {
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.trendingTit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.trendingTit p {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 20px;
}


.trendingCards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.trendingCards div {
 width: 33%;
 text-align: left;
 margin-bottom: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-items: flex-start;
}

.number {
    color: gray;
}*/

main{
    padding-left: 5%;
}

.trending  {
    display: flex;
  flex-wrap: wrap;

}
.trending article{
    flex-basis: 30%;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
}

article img{
    border-radius: 50px;
}


.articleNumber p{
    position: absolute;
    left: -10px;
    font-size: xx-large;
    color: gray;
    opacity: 0.4;
    left: -50px;
    top: -10px;
    font-weight: bold;
  }

  h4,h3 {
    display: flex; /* Permette di usare flexbox */
    align-items: center; /*Allinea verticalmente il contenuto*/ 
  }

  .content {
    padding: 20px;
}
.articleContent {
    display: flex;
    margin-bottom: 20px;
}
.articleContent img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}
.articleContent h3 {
    margin: 0;
    font-size: 18px;
}
.articleContent p {
    margin: 5px 0;
    color: gray;
}